@model news.Models.LoginMD
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/loginlayout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/Admin/Login/Index" method="post">
                <span class="login100-form-title p-b-34">
                    Account Login
                </span>
                @Html.AntiForgeryToken()
                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                    @Html.TextBoxFor(Model => Model.username, new { @id = "inputEmail", @class = "input100", @placeholder = "Username", @required = "required" })
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                    @Html.PasswordFor(Model => Model.password, new { @id = "inpupassword", @class = "input100", @placeholder = "Password", @required = "required" })
                    <span class="focus-input100"></span>
                </div>
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger validate-input" })
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign in
                    </button>
                </div>

            </form>

                <div class="login100-more sad">

                </div>
</div>
    </div>
</div>



<div id="dropDownSelect1"></div>

<style>
    .sad{
        background-image: url("https://localhost:44301/Areas/Admin/Content/login/images/bg-01.jpg")
    }
</style>