@model news.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2 class="text-uppercase text-success">Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <h2 class="text-uppercase">@Html.DisplayFor(model => model.Title)</h2>
        <dd>
            @Html.Raw(Model.Content)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to News", "Index")
</p>
